{% for column in dataGrid.columns %}
  {% if(column.filterable) %}
    <div class="pb-2">
      <label>{{ column.label|trans }}</label>
      {{ knp_pagination_filter(dataGrid.paginator, {(column.fullName): column.label}) }}
    </div>
  {% endif %}
{% endfor %}

<div class="row g-3 mb-5">
  {% for row in dataGrid.paginator %}
  <div class="col-lg-4 col-xl-auto" {% for key, value in dataGrid.rowAttributes(row) %} {{ key }}="{{ value }}"{% endfor %}>
    <div class="card card-media-item">
      {% set column = dataGrid.columns|first %}
      <div class="card-image">
        {% block columnImage %}
          {% set value = column.showColumnLabel or column.hasValueCallback ? column.value(attribute(row, column.name), row, column.name) : column.label|trans|ucfirst %}
          {% if value|type == 'DateTime' %}
            {% set value = value|user_format_longdatetime %}
          {% endif %}
          {% if column.route is null %}
            <div {% if column.class %}class="{{ column.class }}"{% endif %} {% for key, value in column.columnAttributes(row) %} {{ key }}="{{ value }}"{% endfor %}>
            {% if column.isHtml %}{{ value|raw }}{% else %}{{ value }}{% endif %}
            </div>
          {% else %}
            <a href="{{ path(column.route, column.routeAttributes(row)) }}"{% if column.class %} class="{{ column.class }}"{% endif %} title="{{ value }}">
              {% if column.iconClass %}<i class="{{ column.iconClass }}"></i>{% else %}{% if column.isHtml %}{{ value|raw }}{% else %}{{ value }}{% endif %}{% endif %}
            </a>
        {% endif %}
      {% endblock %}
      </div>
      <div class="card-body">
        {% for column in dataGrid.columns|slice(1) %}
          {% if column.showColumnLabel == true %}
            {% block columnValue %}
              {% set value = column.showColumnLabel or column.hasValueCallback ? column.value(attribute(row, column.name), row, column.name) : column.label|trans|ucfirst %}
              {% if value|type == 'DateTime' %}
                {% set value = value|user_format_longdatetime %}
              {% endif %}
              {% if column.route is null %}
                <div{% if column.class %} class="{{ column.class }}"{% endif %} {% for key, value in column.columnAttributes(row) %} {{ key }}="{{ value }}"{% endfor %}>
                {% if column.isHtml %}{{ value|raw }}{% else %}{{ value }}{% endif %}
                </div>
              {% else %}
                <a href="{{ path(column.route, column.routeAttributes(row)) }}"{% if column.class %} class="{{ column.class }}"{% endif %} title="{{ value }}">
                  {% if column.iconClass %}<i class="{{ column.iconClass }}"></i>{% else %}{% if column.isHtml %}{{ value|raw }}{% else %}{{ value }}{% endif %}{% endif %}
                </a>
              {% endif %}
            {% endblock %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="card-footer d-flex justify-content-center">
        {% for column in dataGrid.columns %}
          {% if column.showColumnLabel == false %}
            {% block columnAction %}
              {% set value = column.showColumnLabel or column.hasValueCallback ? column.value(attribute(row, column.name), row, column.name) : column.label|trans|ucfirst %}
              {% if value|type == 'DateTime' %}
                {% set value = value|user_format_longdatetime %}
              {% endif %}
              {% if column.route is null %}
                <div {% for key, value in column.columnAttributes(row) %} {{ key }}="{{ value }}"{% endfor %}>
                {% if column.isHtml %}{{ value|raw }}{% else %}{{ value }}{% endif %}
                </div>
              {% else %}
                <a href="{{ path(column.route, column.routeAttributes(row)) }}"{% if column.class %} class="{{ column.class }}"{% endif %} title="{{ value }}">
                  {% if column.iconClass %}<i class="{{ column.iconClass }}"></i>{% else %}{% if column.isHtml %}{{ value|raw }}{% else %}{{ value }}{% endif %}{% endif %}
                </a>
              {% endif %}
            {% endblock %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% if dataGrid.paginator.count < dataGrid.paginator.totalItemCount %}
  {% block paginator %}
    <div class="d-flex align-self-center justify-content-center">{{ knp_pagination_render(dataGrid.paginator) }}</div>
  {% endblock %}
{% endif %}
