{% import '@Backend/base/macros.html.twig' as macro %}

<div class="sub-navigation d-none d-sm-block">
  <div class="pages-tree">
    {{ macro.alert('warning', 'msg.MoveMediaItemsNotPossible'|trans|ucfirst, null, null, {'class': 'd-md-none'}) }}
    <button class="btn btn-default btn-sm tree-collapsed mb-2" data-role="toggle-js-tree-collapse">
      <span data-role="toggle-js-tree-collapse-text">{{ 'lbl.OpenTreeNavigation'|trans }}</span>
    </button>
    <div class="form-group">
      <label for="pagetree-search" class="visually-hidden">{{ 'lbl.search'|trans|ucfirst }}</label>
      <div class="input-group input-group-sm">
        <div class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></div>
        <input id="pagetree-search" name="pagetree-search" value="" maxlength="255" type="text" class="form-control fork-form-text form-control-sm js-tree-search" placeholder="{{ 'lbl.search'|trans|ucfirst }}">
      </div>
    </div>
    <div id="tree" data-tree-pages style="display: block;">
      <h4>{{ 'lbl.MediaFolders'|trans|ucfirst }}</h4>
      {% apply spaceless %}
        {{ _self.parseTree(sidebarTree, selected) }}
      {% endapply %}
    </div>
  </div>
</div>

{% macro parseTree(tree, selected) %}
  <ul>
    {% for id, folder in tree %}
      <li id="media-folder-{{ id }}" rel="folder" class="{% if selected == id %}selected{% endif %}">
        <a href="{{ action_url('MediaItemIndex', null, {'folder': id}) }}">{{ folder.label }} ({{ folder.itemCount }})</a>
        {% if folder.children is not empty %}{{ _self.parseTree(folder.children, selected) }}{% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
