{% extends '@Backend/base/crud/index.html.twig' %}
{% import '@Backend/base/macros.html.twig' as macro %}

{% block actionbar %}
  <div class="btn-toolbar justify-content-end">
    <div class="btn-group" role="group">
      {{ macro.buttonIcon(action_path('MediaItemUpload', crudActionModule, crudActionParameters, crudActionRelative, crudActionLocale), 'upload', 'lbl.UploadMediaItem'|trans|ucfirst, 'btn-default') }}
      {{ macro.buttonIcon(action_path('MediaFolderAdd', crudActionModule, crudActionParameters, crudActionRelative, crudActionLocale), 'folder', 'lbl.AddMediaFolder'|trans|ucfirst, 'btn-default') }}
    </div>
  </div>
{% endblock %}

{% block sidebarSubNavigation %}
  {% include '@MediaLibrary/Backend/NavigationTree.html.twig' with {'overview': true, 'selected': mediaFolder ? mediaFolder.id : null} %}
{% endblock %}

{% block content %}
  {{ media_library_datagrid(dataGrid) }}

  {% if crudDeleteAction is defined and is_allowed(crudDeleteAction) %}
    <div class="modal fade" id="deleteMediaItemModal" data-bs-keyboard="false" tabindex="-1" aria-hidden="true" aria-labelledby="confirmDeleteTitle">
      <div class="modal-dialog">
        <div class="modal-content">
          {{ form_start(backend_delete_form) }}
          {{ form_row(backend_delete_form._token) }}
          {{ form_row(backend_delete_form.id) }}
          <div class="modal-header">
            <h4 class="modal-title fs-5" id="confirmDeleteTitle">{{ 'lbl.Delete'|trans|ucfirst }}</h4>
          </div>
          <div class="modal-body">
            <p>{{ 'msg.ConfirmDelete'|trans }}</p>
          </div>
          <div class="modal-footer">
            {{ macro.buttonIcon('', confirmDeleteCancelIcon|default('times'), confirmDeleteCancelLabel|default('lbl.Cancel'|trans|ucfirst), confirmDeleteCancelClass|default('btn-default'), {"type":"button", "data-bs-dismiss":"modal"}) }}
            {{ macro.buttonIcon('', confirmDeleteSubmitIcon|default('trash'), confirmDeleteSubmitLabel|default('lbl.Delete'|trans|ucfirst), confirmDeleteSubmitClass|default('btn-danger'), {"type":"submit"}) }}
          </div>
          {{ form_end(backend_delete_form) }}
        </div>
      </div>
    </div>
  {% endif %}

{% endblock %}
